header{
 background: #2c3e50;

color: #FFFFFF;
}

.main{
	background: #F2F2F2;
}
.color1{

	background-color: #34495e;
	color: #FFFFFF;
}
aside{
	background: #c0392b;
	color: #FFFFFF;
}

footer{
	background: #00796B;
	color: #FFFFFF;
}

