.col-md-4{
    color: dimgray;
}

.color1{

	background-color: #000;
	color: #FFFFFF;
}

.color3{
	background-color: #616161;
	color: #fff;
}

aside{
	background: #c0392b;
	color: #FFFFFF;
}

footer{
	background: #00796B;
	color: #FFFFFF;
}

.row{

	background: #FFFFFF;
	color: #78909C;

}

.info-img{
	background: #333;
	color: #fff;
	text-align: center;
	padding: 20px;

}
@media only screen and (min-width : 768px) {
    .is-table-row {
        display: table;
    }
    .is-table-row [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: top;
    }
}
.row img{
	
	
	 display:flex;
  margin:0 auto;
  border-radius: 50%;
  border: 7px solid #424242;
}

.row h3{
	text-align: center;
}

.fondo{
   
background-image: url(img/barbosa.jpg);
    
    }

    
